streamlit==1.43.2
pandas==1.5.3
numpy==1.23.5
plotly==6.0.1
requests==2.32.3
scikit-learn==1.5.1
xgboost==2.1.4
statsmodels==0.13.5
joblib==1.2.0
langdetect==1.0.9
transformers==4.37.2
torch==2.2.2
azureml-automl-core==1.59.0
azureml-automl-dnn-nlp==1.59.0
azureml-automl-runtime==1.59.0
azureml-core==1.59.0.post1
azureml-dataprep==5.1.6
azureml-dataset-runtime==1.59.0
azureml-interpret==1.59.0
azureml-mlflow==1.59.0.post1
azureml-responsibleai==1.59.0
azureml-telemetry==1.59.0
azureml-train-automl==1.59.0
azureml-train-automl-client==1.59.0
azureml-train-automl-runtime==1.59.0
azureml-train-core==1.59.0
azureml-train-restclients-hyperdrive==1.59.0
azureml-training-tabular==1.59.0
