streamlit==1.43.2
pandas==1.5.3
numpy==1.23.5
plotly==6.0.1
requests==2.32.3
scikit-learn==1.5.1
xgboost==2.1.4
statsmodels==0.13.5
joblib==1.2.0
langdetect==1.0.9
transformers==4.37.2
torch==2.2.2  # Version compatible avec azureml-automl-dnn-nlp