absl-py==2.2.0
accelerate==0.34.2
adal==1.2.7
aiohappyeyeballs==2.6.1
aiohttp==3.11.14
aiosignal==1.3.2
altair==5.5.0
annotated-types==0.7.0
anyio==4.9.0
applicationinsights==0.11.10
arch==5.6.0
argcomplete==3.6.0
asttokens==3.0.0
astunparse==1.6.3
async-timeout==5.0.1
attrs==25.3.0
azure-common==1.1.28
azure-core==1.32.0
azure-graphrbac==0.61.2
azure-identity==1.21.0
azure-mgmt-authorization==4.0.0
azure-mgmt-containerregistry==10.3.0
azure-mgmt-core==1.5.0
azure-mgmt-keyvault==10.3.1
azure-mgmt-network==28.1.0
azure-mgmt-resource==23.3.0
azure-mgmt-storage==22.0.0
azure-storage-blob==12.19.0
azure-storage-queue==12.12.0
azureml-automl-core==1.59.0
azureml-automl-dnn-nlp==1.59.0
azureml-automl-runtime==1.59.0
azureml-core==1.59.0.post1
azureml-dataprep==5.1.6
azureml-dataprep-native==41.0.0
azureml-dataprep-rslex==2.22.5
azureml-dataset-runtime==1.59.0
azureml-interpret==1.59.0
azureml-mlflow==1.59.0.post1
azureml-responsibleai==1.59.0
azureml-telemetry==1.59.0
azureml-train-automl==1.59.0
azureml-train-automl-client==1.59.0
azureml-train-automl-runtime==1.59.0
azureml-train-core==1.59.0
azureml-train-restclients-hyperdrive==1.59.0
azureml-training-tabular==1.59.0
backports.tempfile==1.0
backports.weakref==1.0.post1
bcrypt==4.3.0
blinker==1.9.0
bokeh==2.4.3
boto3==1.20.19
botocore==1.23.19
cachetools==5.5.2
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
cloudpickle==2.2.1
coloredlogs==15.0.1
comm==0.2.2
contextlib2==21.6.0
contourpy==1.3.0
cryptography==44.0.2
cycler==0.12.1
Cython==3.0.12
dask==2023.2.0
databricks-sdk==0.46.0
dataclasses==0.6
datasets==2.16.1
debugpy==1.8.13
decorator==5.2.1
Deprecated==1.2.18
dice-ml==0.11
dill==0.3.7
distributed==2023.2.0
distro==1.9.0
docker==7.1.0
dotnetcore2==3.1.23
econml==0.15.1
erroranalysis==0.5.5
exceptiongroup==1.2.2
executing==2.2.0
fairlearn==0.7.0
fastapi==0.115.11
filelock==3.18.0
fire==0.7.0
flatbuffers==25.2.10
fonttools==4.56.0
frozenlist==1.5.0
fsspec==2023.10.0
fusepy==3.0.1
gast==0.4.0
gensim==4.3.2
git-filter-repo==2.47.0
gitdb==4.0.11
GitPython==3.1.41
google-auth==2.38.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.71.0
h11==0.14.0
h5py==3.13.0
huggingface-hub==0.29.3
humanfriendly==10.0
idna==3.10
importlib_metadata==8.2.0
importlib_resources==6.4.0
inference-schema==1.8
interpret_community==0.31.0
interpret-core==0.5.0
ipykernel==6.29.5
ipython==8.18.1
isodate==0.7.2
jedi==0.19.2
jeepney==0.9.0
Jinja2==3.1.6
jmespath==0.10.0
joblib==1.2.0
jsonpickle==4.0.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.3
jupyter_core==5.7.2
keras==2.11.0
keras2onnx==1.6.0
kiwisolver==1.4.7
knack==0.12.0
langdetect==1.0.9
libclang==18.1.1
lightgbm==3.2.1
llvmlite==0.39.1
locket==1.0.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib-inline==0.1.7
mdurl==0.1.2
ml_dtypes==0.5.1
ml_wrappers==0.5.6
mlflow-skinny==2.21.0
mpmath==1.3.0
msal==1.32.0
msal-extensions==1.3.1
msgpack==1.1.0
msrest==0.7.1
msrestazure==0.6.4.post1
multidict==6.2.0
multiprocess==0.70.15
namex==0.0.8
narwhals==1.31.0
ndg-httpsclient==0.5.1
nest-asyncio==1.6.0
networkx==2.5
numba==0.56.4
numpy==1.23.5
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.19.3
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.2
onnx==1.17.0
onnxconverter-common==1.13.0
onnxmltools==1.11.2
onnxruntime==1.17.3
opentelemetry-api==1.31.0
opentelemetry-sdk==1.31.0
opentelemetry-semantic-conventions==0.52b0
opt_einsum==3.4.0
optree==0.14.1
packaging==24.2
pandas==1.5.3
paramiko==3.5.1
parso==0.8.4
partd==1.4.2
pathspec==0.12.1
patsy==1.0.1
pexpect==4.9.0
pillow==11.1.0
pip==25.0.1
pkginfo==1.12.1.2
platformdirs==4.3.6
plotly==6.0.1
pmdarima==1.8.5
prompt_toolkit==3.0.50
propcache==0.3.0
property-cached==1.6.4
protobuf==3.20.3
psutil==5.9.3
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==14.0.2
pyarrow-hotfix==0.6
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
pydeck==0.9.1
Pygments==2.19.1
PyJWT==2.10.1
PyNaCl==1.5.0
pyOpenSSL==24.3.0
pyparsing==3.2.1
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytz==2025.1
PyYAML==6.0.2
pyzmq==26.3.0
raiutils==0.4.2
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
responsibleai==0.36.0
rich==13.9.4
rpds-py==0.23.1
rsa==4.9
s3transfer==0.5.2
sacremoses==0.1.1
safetensors==0.5.3
scikit-learn==1.5.1
scipy==1.10.1
SecretStorage==3.3.3
semver==2.13.0
sentencepiece==0.2.0
seqeval==1.2.2
setuptools==69.0.3
shap==0.43.0
six==1.17.0
skl2onnx==1.15.0
sklearn-pandas==1.7.0
slicer==0.0.7
smart-open==6.4.0
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
sparse==0.15.5
sqlparse==0.5.3
stack-data==0.6.3
starlette==0.46.1
statsmodels==0.13.5
streamlit==1.43.2
sympy==1.13.3
tabulate==0.9.0
tblib==3.0.0
tenacity==9.0.0
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-estimator==2.11.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.5.0
threadpoolctl==3.6.0
tokenizers==0.15.2
toml==0.10.2
toolz==1.0.0
torch==2.2.2
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
transformers==4.37.2
triton==2.2.0
typing_extensions==4.12.2
tzdata==2025.1
urllib3==1.26.20
uvicorn==0.34.0
watchdog==6.0.0
wcwidth==0.2.13
Werkzeug==3.1.3
wheel==0.45.1
wrapt==1.16.0
xgboost==2.1.4
xxhash==3.5.0
yarl==1.18.3
zict==3.0.0
zipp==3.21.0
